<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div style="padding: 10px;" >
      
      <table class="table-responsive-sm table-borderless" style="margin-left:auto;margin-right:auto"   cellspacing="0" cellpadding="0"  >
        <tbody>
            <tr>
                <td height="20" colspan="2" style="text-align: center;">
                    <strong style="color:#0d0d0d; font-size:18px;" >{{record.type_event_string}}</strong>
                    <hr size="5em" width="100" color="#68c4ac">  
                </td>
            </tr>
          <tr>
            <td height="20" colspan="2" >
                <strong style="color:#949494; font-size:18px" >Datos del Evento</strong>
                <hr size="3em" width="" color="#68c4ac">  
            </td>
          </tr>
          <tr>
            <td width="20%" height="40" style="color:#949494;"><strong>Código Único de Documento Electrónico - CUDE:</strong></td>
            <td width="80%">&nbsp;{{ record.get_cude()}}</td>
          </tr>
          <tr>
            <td width="20%" style="color:#949494;"><strong>Número del Evento:</strong></td>
            <td width="80%">&nbsp;{{ record.get_attribute_event('number')}}</td>
          </tr>
          <tr>
            <td width="20%" style="color:#949494;"><strong>Fecha y Hora de Generación:</strong></td>
            <td width="80%">&nbsp;{{ record.get_attribute_event('date')}}</td>
          </tr>
          <tr height="40px"/>
          <tr>
            <td height="20" colspan="2" >
              <strong style="color:#949494; font-size:18px">Datos del Emisor</strong>
              <hr size="3em" width="" color="#68c4ac"> 
            </td>
          </tr>
          <tr>
            <td width="20%" height="40" style="color:#949494;"><strong>Empresa:</strong></td>
            <td width="80%">&nbsp;{{ record.company.party.name}}</td>
          </tr>
          <tr>
            <td width="20%" style="color:#949494;"><strong>Identificación:</strong></td>
            <td width="80%">&nbsp;{{ record.company.party.id_number}}</td>
          </tr>
          <tr height="40px"> </tr>
          <tr>
            <td height="20" colspan="2" >
              <strong style="color:#949494; font-size:18px" >Datos del Receptor</strong>
              <hr size="3em" width="" color="#68c4ac"> 
            </td>
          </tr>
          <tr>
            <td width="20%" height="40" style="color:#949494;"><strong>Empresa:</strong></td>
            <td width="80%">&nbsp;{{ record.party.name}}</td>
          </tr>
          <tr>
            <td width="20%" style="color:#949494;"><strong>Identificación:</strong></td>
            <td width="80%">&nbsp;{{ record.party.id_number}}</td>
          </tr>
          <tr height="40px"> </tr>
          <tr>
            <td height="20" colspan="2">
              <strong style="color:#949494; font-size:18px" >Datos de Referencia de la Factura</strong>
              <hr size="3em" width="" color="#68c4ac"> 
              </td>
          </tr>
          <tr>
            <td width="20%" height="40" style="color:#949494;"><strong>Número de Factura:</strong></td>
            <td width="80%">&nbsp;{{ record.reference }}</td>
          </tr>
          <tr>
            <td width="20%" style="color:#949494;"><strong>CUFE:</strong></td>
            <td width="80%"><span class="il">&nbsp;{{ record.cufe}}</span></td>
          </tr>
          <tr height="40px">   </tr>
          <tr style="text-align: center;">
            <td height="20" colspan="2">
              <strong style="color:#1f52a5; font-size:15px">Respuesta de la DIAN</strong>
              
            </td>
          </tr>
          <tr style="text-align: center;">
            <td width="100%" colspan="2">
              <span class="il">Evento {{ record.type_event}}, ha sido validado por la Dian.</span> 
            </td>
          </tr>
          <tr height="20px">   </tr>
          <tr height="10" style="text-align: center;">
            <td colspan="2">
              <div style="display: inline-block;
              border-radius: 4px;
              background-color: #FFD733;
              border: none;
              text-align: center;
              font-size: 16px;
              padding: 10px;
              width: 200px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;" bgcolor="#FFD733">
                <img src="http://45.63.106.42:8700/f/a7a75bdc27/?raw=1" width="24px" height="24px" align="left">
                <a href="{{record.provider_link}}" style="color:#434547; font-size:15px; font-weight:bold; text-decoration:none"> 
                  Detalle del documento
                </a>
              </div>
             
            </td>
          </tr>
          <tr style="text-align: center;">
              <td width="80%" colspan="2">Adjunto encontrará la representación gráfica del
                documento en formato PDF y el documento electrónico en
                formato XML.
              </td>
          </tr>
          <tr style="text-align: center;">
            <td width="80%" style="font-size: 13px;" colspan="2">Nota: Favor no responder este mensaje, para mayor información
              comuniquese con el correo de contacto.
            </td>
          </tr>
        </tbody>
      </table>
      <div style="background-color: #3D3C3A;text-align:center;padding:1.5em; margin:0.5em">
        <span style="color:#1eb0ed">¿Necesita Facturar Electrónicamente?</span>
        <span style="font-size:18px;color:#ffffff;"><br> visita nuestro sitio web</span><br>
        <a style="font-size:18px;color:#ffffff" href="http://www.presik.com">www.presik.com</a>
      </div>
    </div>
  </body>
</html>