<!DOCTYPE html>
<html>
  <body>
    <p>Saludos, {{ record.party.name}}</p>
    <p>Te adjuntamos la factura electronica</p>
    Número: <b>{{ record.number}}</b><br>
    Fecha de Factura: <b>{{ record.invoice_date.strftime('%d-%b-%Y') }}</b><br>
     Total Factura: <b>$ {{ record.total_amount }}</b><br>

    <p>-------------------------<br>
    <b> Cordialmente, </b><br>
    {{ record.company and record.company.party.name }}<br>
    </p>
  </body>
</html>

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <style>
    html * { font-family:'Roboto' !important;}

    div {
      padding-top:10px; padding-bottom:10px; align:center;
    }
  </style>
  </head>
  <body>

  <div>
    <table style="margin: 0;text-align:center; width=520px; border-style: solid; border-radius: 15px 50px 15px ; border-right-width:15px;
            border-right-color: #EDEFF3; border-bottom-width:15px; border-bottom-color: #EDEFF3;"   cellspacing="0" cellpadding="0" border="0">
    <tbody width="420">
      <tr>
      <tr>
        <td width="36">&nbsp;</td>
        <td style="border:0; padding-top:20px;">
          <img style="height: 310px; object-fit: cover;" src="http://45.63.106.42:8700/f/0147484e73/?raw=1" alt="Presik" height= "230" width="525">
        </td>
        <td width="36">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td bgcolor="#FFFFFF">
          <table style="line-height:19px;font-size:14px;text-align:justify" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td width="10%">&nbsp;</td>
                <td style="font-weight:bold;font-size:16px" width="100%">{{ record.party.name}},</td>
                <td width="10%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20"><strong style="color:#1f52a5;  font-size:15px">Datos del Emisor</strong></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <table style="  font-size:15px" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td width="20%"><strong>Empresa:</strong></td>
                        <td width="100%">&nbsp;{{ record.company.party.name}}</td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Identificación:</strong></td>
                        <td width="100%">&nbsp;{{ record.company.party.id_number}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20"><strong style="color:#1f52a5; font-size:15px">Información
                    del Documento</strong></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <table style="font-size:15px" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td width="20%"><strong>Fecha:</strong></td>
                        <td width="100%">&nbsp;{{ record.invoice_date.strftime('%d-%b-%Y') }}</td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Tipo: </strong></td>
                        <td width="100%"><span class="il">&nbsp;Factura</span></td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Número:</strong></td>
                        <td width="100%">&nbsp;{{ record.number}}</td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Moneda:</strong></td>
                        <td width="100%">&nbsp;COP</td>
                      </tr>
                      <tr>
                        <td><strong>Valor Total:</strong></td>
                        <td width="100%">&nbsp;$ {{ '{:20,.2f}'.format(record.total_amount)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20"><strong style="color:#1f52a5; font-size:15px">Respuesta
                    de la DIAN</strong></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="30">&nbsp;</td>
                <td width="100%"><span class="il">La factura electrónica {{ record.number}}, ha sido autorizada.</span> </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="30">&nbsp;</td>
              </tr>
              <tr height="10">
                <td>&nbsp;</td>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                      <tr style="display: inline-block;
                      border-radius: 4px;
                      background-color: #FFD733;
                      border: none;
                      color: #FFFFFF;
                      text-align: center;
                      font-size: 28px;
                      padding: 10px;
                      width: 200px;
                      transition: all 0.5s;
                      cursor: pointer;
                      margin: 5px;" bgcolor="#FFD733">
                        <td>
                          <img src="http://45.63.106.42:8700/f/a7a75bdc27/?raw=1" width="18" height="22">
                        </td>
                        <td>
                          <a href="{{record.qr_link_face}}" style="color:#434547; font-size:15px; font-weight:bold; text-decoration:none">
                            &nbsp;&nbsp;Detalle del documento
                          </a>
                        </td>
                        <td height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="110">
                <td >&nbsp;</td>
                <td>
                  <table height="10" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody>
                      <tr>
                        <td width="400">Adjunto encontrará la representación gráfica del
                            documento en formato PDF y el documento electrónico en
                            formato XML.</td>
                        <td height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr height="20" style="font-size:12px">
                <td >&nbsp;</td>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody>
                      <tr>
                        <td width="400">Nota: Favor no responder este mensaje, para mayor información
                          comuniquese con el correo de contacto.</td>
                        <td height="10">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="40">&nbsp;</td>
              </tr>
              <tr style="font-size:14px;color:#ffffff;text-align:center;  background-color:#606264">
                <td>&nbsp;</td>
                <td >
                  <table >
                    <tbody>
                      <tr height="50">
                        <td><span> Necesitas nómina electrónica ... nosotros te ayudamos, contactanos! </span></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table style="font-size:14px; text-align:center; background-color:#3D3C3A" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="5" style="border:0; padding:0; margin:0; font-size:0%" height="8">&nbsp;</td>
              </tr>
              <tr>
                <td width="5%">&nbsp;</td>
                <td width="43%"><span style="color:#1eb0ed;">Bucaramanga</span></td>
                <td width="4%">&nbsp;</td>
                <td width="43%"> <span style="color:#1eb0ed">Contacto</span><br>
                  <a style="font-size:14px;color:#ffffff;text-align:center" href="http://www.presik.com/contact_us/" target="_blank" data-saferedirecturl="http://www.presik.com/contact_us/">
                    negocios@presik.com</a>
                </td>
                <td width="5%"><br>
                </td>
              </tr>
              <tr>
                <td colspan="5" style="border:0; padding:0; margin:0; font-size:0%" height="4"><br>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td style="font-size:14px;color:#ffffff;text-align:center"> <span style="color:#1eb0ed">Líneas de Atención</span><br>
                  301 4397 998 - 321 4269 824</td>
                <td>&nbsp;</td>
                <td> <span style="color:#1eb0ed">Sitio Web</span><br>
                  <a style="font-size:14px;color:#ffffff;text-align:center" href="http://www.presik.com">www.presik.com</a>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr bgcolor="#3D3C3A">
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr
    </tbody>
  </table>
</div>
  </body>

</html>
